.textarea {
  width: 500px;
  min-height: 800px;
  resize: vertical;
}

button {
  background-color: #53b65f;
  border: 0;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

button:hover {
  cursor: pointer;
  background-color: #478d50;
}

button:active {
  transform: scale(0.9);
}
